@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Lora:ital,wght@1,600;1,700&display=swap");

#videogames {
	width: 400px;
	margin: auto;
	background: #fafafa;
	color: #141414;
	font-size: 12px;
	text-align: center;
	padding: 35px;
	line-height: 1.15;
	font-family: "Roboto";
}

#videogames b {
	font-family: "Lora";
	font-weight: 600;
	font-style: italic;
}

#videogames i,
#videogames u {
	color: #141414;
}

#videogames,
#videogames div {
	box-sizing: border-box;
}

#videogames img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 3px;
}

#videogames .honey {
	width: 100%;
	margin: 15px 0;
}

#videogames .honey a {
	color: grey;
	text-decoration: none;
	font-style: italic;
	letter-spacing: 1px;
	font-weight: 400;
}

#videogames .fairy {
	width: 100%;
	background: #f1f1f1;
	padding: 15px 20px;
	line-height: 11px;
	font-family: "Lora";
	font-size: 16px;
	font-style: italic;
	font-weight: 700;
	letter-spacing: -2px;
	text-shadow: 1px 1px 0 white;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

#videogames .fairy .th-rose {
	position: absolute;
	color: #b3b3b3;
	font-size: 25px;
	text-shadow: none;
}

#videogames .fairy .wings {
	z-index: 2;
}

#videogames .rose {
	text-align: justify;
	margin-top: 15px;
}

#patronus-credit {
	width: 100px;
	color: #141414;
	margin: 3px auto;
	font-size: 7px;
	text-align: center;
	opacity: 0;
	transition: 0.5s ease-in-out;
}

#videogames:hover + #patronus-credit {
	opacity: 1;
}
