@import url('https://fonts.googleapis.com/css?family=Inconsolata:700|Roboto&display=swap');

#secret, #secret div, #secret img {
	box-sizing: unset;
}

#secret {
	width: 350px;
	margin: auto;
	background: white;
	text-align: center;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px solid gainsboro;
	font-size: 13px;
	font-family: 'Roboto';
}

#secret .jesus {
	width: 100%;
	padding: 20px;
	text-align: center;
}

#secret .jesus img {
	width: 80px;
	border-radius: 100%;
	padding: 5px;
	border: 1px solid white;
}

#secret .solo {
	width: auto;
	padding: 5px;
	background: white;
	margin-top: 15px;
	text-transform: uppercase;
	color: black;
	font-family: "Inconsolata", monospace;
	display: inline-block;
	font-size: 9px;
	letter-spacing: 1px;
}

#secret .christ {
	width: 270px;
	padding: 20px;
	border: 1px solid gainsboro;
	margin: 20px 0;
}

#secret .jen {
	width: 100%;
	border-bottom: 1px solid lightgrey;
	font-family: "Inconsolata", monospace;
	text-align: center;
	letter-spacing: 2px;
	text-transform: lowercase;
	line-height: 1.15;
	padding-bottom: 15px;
	margin-bottom: 15px;
	font-size: 11px;
}

#secret .nie {
	width: 270px;
	text-align: justify;
	padding-bottom: 15px;
	border-bottom: 1px solid lightgrey;
}

#secret .next {
	width: 270px;
	padding-top: 15px;
	text-align: center;
	font-size: 9px;
	text-transform: uppercase;
	font-family: "Inconsolata", monospace;
}
