@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:700&display=swap');

.imagi {
	background-image: url(https://nsm09.casimages.com/img/2019/02/08//19020805365117252816113113.png);
	width: 430px;
	padding: 30px 10px 30px 10px;
	border: 1px solid gainsboro;
}

.imagi > .sure {
	width: 430px;
	height: 1px;
}

.imagi > .line {
	display: inline-block;
	padding: 6px;
	text-transform: uppercase;
	color: white;
	font-size: 11px;
	font-family: 'Roboto Condensed';
	transform: translate(-25px, -15px);
	float: right;
}

.imagi > .rings {
	flex-grow: 1;
	border: 7px solid white;
	outline: 1px solid gainsboro;
 margin: 25px 0 20px 0;
	width: 130px;
	height: 208px;
	background-size: cover;
	position: absolute;
}

.imagi > .talkin {
	width: 245px;
	background: white;
	border: 1px solid gainsboro;
	padding: 15px;
	text-align: justify;
	position: relative;
	left: 78px;
	margin: 25px 0 5px 0;
	font-size: 13px;
	font-family: 'Roboto';
}

.imagi > .apologize {
	float: right;
	margin: 0 5x 0 0;
	font-family: 'Roboto Condensed';
	text-transform: uppercase;
	font-size: 10px;
}
